.sign-in {
    max-width: 450px;
    // width: 18rem;
    display: flex;
    flex-direction: column;
    padding: 3rem 3rem;
    border-radius: 5px;

    .title {
        margin: 10px 0;
    }

    .form-footer {
        display: flex;
        flex-direction: column;
        &>:nth-child(2){
            margin-top: 15px;
        }                
    }
}

@media screen and (min-width: 992px) {
    .sign-in {
        .form-footer {
            flex-direction: row;
            justify-content: space-evenly;
            &>:nth-child(2){
                margin-top: 0;
            }
        }
    }
}