.section-auth {
    max-width: 1170px;
    width: 80vw;
    display: grid;
    padding: 5rem 2rem;
    margin: 0 auto;
    opacity: 0;    
    transition: opacity .7s;
}
@media screen and (min-width: 998px){
    .section-auth{
        // display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 2rem;
    }
}

.fade-in {
    opacity: 1;
}

