.custom-btn {
    max-width: 250px;
    // min-width: 150px;
    width: 220px;
    height: 50px;
    letter-spacing: 0.5px;
    line-height: 50px;
    padding: 0 35px 0 35px;
    font-size: 15px;
    border-radius: 50px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-family: 'Open Sans';
    font-weight: bolder;
    // border: none;
    cursor: pointer;
    transition: all .5s;
    border: 2px solid black;

    &:hover {
        background-color: white;
        color: black;
    }
    &:focus{
        outline: none;
    }
}

.google-btn {
    background-color: rgb(78, 103, 245);
    border: 2px solid rgb(78, 103, 245);

    &:hover {
        color: rgb(78, 103, 245);
        ;
    }
}